apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "daps-reg-service.fullname" . }}
  labels:
    {{- include "daps-reg-service.labels" . | nindent 4 }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "daps-reg-service.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "daps-reg-service.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "daps-reg-service.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: 8080
              protocol: TCP
          env:          
          - name: APP_DAPS_CLIENTID
            valueFrom: 
              secretKeyRef:
                name: {{ include "daps-reg-service.applicationSecret.name" . }}
                key: ClientID
          - name: APP_DAPS_CLIENTSECRET
            valueFrom: 
              secretKeyRef:
                name: {{ include "daps-reg-service.applicationSecret.name" . }}
                key: ClientSecret
          - name: KEYCLOAK_AUTH-SERVER-URL
            valueFrom: 
              secretKeyRef:
                name: {{ include "daps-reg-service.applicationSecret.name" . }}
                key: authServerUrl
          - name: KEYCLOAK_REALM
            valueFrom: 
              secretKeyRef:
                name: {{ include "daps-reg-service.applicationSecret.name" . }}
                key: realm
          - name: KEYCLOAK_RESOURCE
            valueFrom: 
              secretKeyRef:
                name: {{ include "daps-reg-service.applicationSecret.name" . }}
                key: resource
          - name: APP_DAPS_APIURI
            valueFrom: 
              secretKeyRef:
                name: {{ include "daps-reg-service.applicationSecret.name" . }}
                key: apiUri
          - name: APP_DAPS_TOKENURI
            valueFrom: 
              secretKeyRef:
                name: {{ include "daps-reg-service.applicationSecret.name" . }}
                key: tokenUri
          #livenessProbe:
          #  httpGet:
          #    path: /
          #    port: http
          #readinessProbe:
          #  httpGet:
          #    path: /
          #    port: http
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
