keycloak:
  resource:
    clientid: CL2-CX-Portal
springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    url: /DapsRegApi.yaml
app:
  build:
    version: ^project.version^
  daps:
    apiUri:
    tokenUri:
    clientId:
    clientSecret:
  security:
    createRole: create_daps_client
    updateRole: update_daps_client
    deleteRole: delete_daps_client
    retrieveRole: retrieve_daps_client
spring:
  security:
    oauth2:
      resourceserver:
        jwt:
          jwk-set-uri: https://centralidp.int.demo.catena-x.net/auth/realms/CX-Central/protocol/openid-connect/certs
  lifecycle:
    timeout-per-shutdown-phase: 30s
logging:
  level:
    org:
      springframework:
        security:
          web:
            csrf: INFO
