keycloak:
  resource:
    clientid: Cl6-CX-DAPS
springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    url: /DapsRegApi.yaml
app:
  build:
    version: ^project.version^
  daps:
    #apiUri:
    #tokenUri:
    #clientId:
    #clientSecret:
  security:
    createRole: create_daps_client
    updateRole: create_daps_client
    deleteRole: create_daps_client
    retrieveRole: create_daps_client
  static:
    #daps_jwks: https://daps1.int.demo.catena-x.net/jwks.json
spring:
  security:
    oauth2:
      resourceserver:
        jwt:
          #jwk-set-uri: https://centralidp.int.demo.catena-x.net/auth/realms/CX-Central/protocol/openid-connect/certs
  lifecycle:
    timeout-per-shutdown-phase: 30s
logging:
  level:
    org:
      springframework:
        security:
          web:
            csrf: INFO
